header {
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/header.png");
}

.navbar {
  margin-top: 32px;

  &-collapse {
    align-items: stretch;
  }

  > div {
    align-items: stretch !important;
    background-color: #fff;
    max-width: 1250px;
    padding: 0;
  }

  .region {
    &-nav-branding {
      padding: 30px 38px;
      text-align: center;
      background-color: #333333;
      @extend %site_branding;
    }

    &-nav-main {
      flex-grow: 1;
      display: flex;

      .block-menu {
        display: flex;
      }

      > nav {
        flex-grow: 1;
        display: flex;
        text-transform: uppercase;
        justify-content: space-around;
      }

      .navbar-nav li:first-child a {
        user-select: none;
        color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../images/Homepage-menu.png");

        &:hover, &:focus {
          color: transparent;
        }
      }

      .nav-link {
        color: #333333;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: #6E9BCA;
        }
      }

      .is-active {
        border-top: 10px solid transparent;
        border-bottom: 10px solid #6E9BCA;
      }
    }

    &-nav-additional {
      display: flex;
      align-items: center;
      gap: 28px;
      @extend %social_link;
    }
  }

  #views-exposed-form-search-api-page-1 {
    padding-right: 30px;
  }
}

#views-exposed-form-search-api-page-1 {
  display: flex;
  align-items: center;

  .form-item-search {
    max-width: 170px;

    .form-control {
      border-radius: 0;
      border-color: #ccc;

      &:focus {
        box-shadow: none;
        border-color: #6E9BCA;
      }
    }
  }

  .form-submit {
    margin: 0;
    border-radius: 0;
    border-color: #ccc;
    border-left-width: 0;
    padding-inline: 16px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/search.svg");

    &:focus {
      box-shadow: none;
      border-color: inherit;
    }
  }
}

.header-banner {
  padding: 0 130px;
  margin-top: 120px;
  text-transform: uppercase;

  > p {
    margin: 0;
    max-width: 350px;
  }

  &__title-primary {
    color: white;
    font-size: 66px;
  }

  &__title-secondary {
    font-size: 40px;
    margin: -17px auto 0;
    color: $base-dark-color;
  }

  &__text {
    font-size: 13px;
    padding-left: 3px;
    letter-spacing: 0.4px;
    color: $brand-primary;
  }
}

.progress {
  padding: 0;
  height: 3px;
  border-radius: 0;
  background-color: #cccccc;

  &-bar-success {
    background-color: $brand-primary;
  }

  &-bar-warning {
    background-color: $base-dark-color;
  }
}

@include media-breakpoint-down(md) {
  header {
    min-height: auto;
  }
  .header-banner {
    padding: 0 40px;
    margin-top: 80px;

    &__title-primary {
      font-size: 44px;
    }

    &__title-secondary {
      font-size: 24px;
    }

    &__text {
      font-size: 13px;
    }
  }
}
