$brand-primary: #6e9bca;
$base-dark-color: #333333;
$base-gray-color: #DADADA;
$base-cyan-color: #6E9BCA;
$base-light-gray-color: #cccccc;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1274px
);
